.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at bottom, #2c0735 0%, #0c0d13 100%);
    z-index: -1000;
}

@font-face {
    src: url(../../Assets/fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
}

@font-face {
    src: url(../../Assets/fonts/Inter-Regular.ttf);
    font-family: inter;
}

:root {
    --primary-color: #df00bd;
    --text-color: #fff;
    --text-grey: #d8d8d8;
    --grey-color: #26292B;
    --black-color: #111;
    --light-black: #15151a;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

svg {
    width: 100%;
    visibility: hidden;
    margin: 0 50vh 0 -20px;
}

.container h1 {
    font-size: 30px;
    font-family: poppins;
    color: var(--text-color);
}

.container p {
    font-size: 15px;
    font-family: inter;
    color: var(--text-grey);
}

.container button {
    background: transparent;
    padding: 5px 15px;
    border: 2px solid #8a817c;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 15px;
    font-family: poppins;
    transition: all 500ms ease;
}

.container button:hover {
    cursor: pointer;
    background-color: #7209b7;
    border: 2px solid #7209b7;
}

@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    svg {
        margin: 0 0 0 -20px;
    }
}
