@font-face {
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
  font-family: poppins;
}

@font-face {
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-family: inter;
}

@font-face {
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-family: mont;
}

:root {
  --primary-color: #df00bd;
  --text-color: #fff;
  --text-grey: #d8d8d8d8;
  --grey-color: #26292B;
  --black-color: #111;
  --light-black: #15151a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--light-black);
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(ellipse at bottom, #a247d3 0%, #3f0581 100%);
  border-radius: 10px;
}

::selection {
  background: transparent;
}

/* index */

.phone {
  display: none;
}

.text:hover {
  cursor: default;
  /* Firefox */
  -moz-user-select: none;
  /* Chrome, Safari, Opera since version 15 */
  -webkit-user-select: none;
  /* Internet explorer since version 10 and Edge */
  -ms-user-select: none;
  /* Standard property */
  user-select: none;
}

.transition {
  transition-duration: 1s;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 40px 0;
  border-radius: 10px;
}

.markedtext {
  font-size: 15px;
  font-family: poppins;
  color: #0077b6;
  margin: 0;
}

@keyframes revealAnimation {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* navbar */

::marker {
  display: none;
  list-style: none;
}

#nav-menu ul {
  list-style: none;
}

#hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn {
  /* hamburger - responsive nav */
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 10px 1.4rem;
  font-size: 1rem;
  border-radius: 5px;
}

.logo img {
  width: 75px;
  margin: 20px 0 0 20px;
}

.logo img:hover {
  cursor: pointer;
}

.menu {
  position: relative;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-bar .nav-link {
  text-decoration: none;
  font-size: 16px;
  font-family: poppins;
  color: var(--text-color);
  transition: all 500ms ease;
  margin: 0 8px;
}

.nav-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.nav-lastlink .nav-link {
  margin-right: 40px;
  padding: 7px;
  border: 2px solid #8a817c;
  border-radius: 8px;
}

.nav-lastlink .nav-link:hover {
  background-color: #7209b7;
  border: 2px solid #7209b7;
  color: var(--text-color);
}

.nav-start,
.nav-end,
.menu-bar {
  display: flex;
  align-items: center;
}

#hamburger {
  display: none;
  margin-left: 1rem;
  font-size: 1.9rem;
}

.nav-end {
  display: none;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
}

.nav-end span {
  background: #fff;
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.nav-end span:nth-of-type(1) {
  width: 50%;
}

.nav-end span:nth-of-type(2) {
  width: 100%;
}

.nav-end span:nth-of-type(3) {
  width: 75%;
}

.nav-end input[type="checkbox"] {
  display: none;
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(1) {
  transform-origin: bottom;
  width: 50%;
  transform: rotatez(45deg) translate(6px, 0px)
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(2) {
  transform-origin: top;
  width: 100%;
  transform: rotatez(-45deg) translate(2px, 0px)
}

.nav-end input[type="checkbox"]:checked~span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(19px, -10px) rotatez(45deg);
}

.footer {
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footerlogo {
  width: 100px;
  margin-left: -20px;
}

.footerlogo img {
  width: 100px;
  cursor: pointer;
}

.footer-left .copyright {
  font-family: inter;
  font-size: 12px;
  font-style: italic;
  color: var(--text-grey);
}

.footer-left p {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: inter;
  font-size: 13px;
  color: var(--text-grey);
  margin: 5px 0;
}

.footer-left p img {
  margin: 0 3px;
  width: 20px;
  height: fit-content;
}

.footer-left p a {
  margin: 0 3px;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
}

.footer-right {
  display: contents;
  flex-direction: column;
  flex: 1;
  text-align: right;
}

.footer-element {
  margin: 0 15px;
}

.footer h6 {
  display: flex;
  text-align: center;
  font-family: poppins;
  font-size: 20px;
  color: var(--text-color);
}

.footer-right a {
  text-decoration: none;
  color: var(--text-grey);
  font-family: inter;
  font-size: 16px;
  align-items: center;
  display: flex;
  transition: all 300ms ease;
  margin: 10px;
}

.footer-right a i {
  font-size: 22px;
  margin-right: 5px;
}

.footer-right a:hover {
  color: var(--text-color);
}

main {
  padding-top: 100px;
}

/* index */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: revealAnimation 2s forwards;
}

.hero-left {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin: 0 0 0 10vh;
}

.hero h1 {
  font-family: mont;
  color: var(--text-color);
  font-size: 25px;
  top: -30%;
  margin: 10vh 0 10px 0;
}

.hero h1 span {
  font-size: 40px;
  color: var(--primary-color);
}

.hero p {
  font-family: inter;
  color: var(--text-grey);
  font-size: 15px;
  position: relative;
  top: -34%;
  margin: 0 0 40px 0;
}

.downloadbutton {
  margin: 0 0 10px 0;
  font-family: poppins;
  text-align: center;
  padding: 10px 20px;
  border: none;
  color: #f1faee;
  border-radius: 10px;
  background: radial-gradient(ellipse at bottom, #822faf 0%, #560bad 100%);
  box-shadow: 0 0 20px #560bad;
  font-size: 20px;
  height: auto;
  width: 250px;
  position: relative;
  top: -30%;
  transition: all 500ms ease;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.downloadbutton:focus {
  outline: 0;
}

.downloadbutton:before,
.downloadbutton:after {
  position: absolute;
  content: '';
  display: block;
  width: 120%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.downloadbutton:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, transparent 20%, #560bad 20%, transparent 30%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, transparent 10%, #560bad 15%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.downloadbutton:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, transparent 10%, #560bad 15%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%), radial-gradient(circle, #560bad 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.downloadbutton.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.downloadbutton.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.hero-left .stats {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.hero-left .stats article {
  border-left: 3px solid #822faf;
  margin: 20px 0 0 5px;
}

.hero-left .stats article h6 {
  margin: 5px 0 0 10px;
  font-size: 20px;
  font-family: mont;
  color: var(--text-color);
}

.hero-left .stats article p {
  margin: 5px 0 5px 10px;
  font-size: 13px;
  font-weight: 600;
}

.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10vh 0 0;
}

#slideshow {
  margin: 10vh 20px 10px 0;
}

#slideshow .slide {
  display: none;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  animation: slideshowFadeIn 1s both;
}

#slideshow .slide-active {
  display: flex;
}

@keyframes slideshowFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.point {
  width: 13px;
  height: 10px;
  background: #fff;
  opacity: 0.2;
  border-radius: 20px;
  display: inline-block;
  margin: 0 5px;
  transition: all 500ms ease;
}

.point-active {
  width: 100px;
  opacity: 1;
}

/* roadmap | helpcenter */

.work-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20vh 0 0 0;
  padding: 50px 10vh;
  opacity: 0;
  animation: revealAnimation 2s forwards;
}

.work-item {
  color: var(--text-color);
  font-family: poppins;
  line-height: 1.5;
}

.work-item h4 {
  font-size: 2em;
}

.work-item h6 {
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .work-item h4 {
    font-size: 1.75em;
  }
}

.work-item ol,
.work-item ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.work-item--roadmap {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.work-item--roadmap:before {
  background-color: #aaa;
  content: "";
  display: block;
  height: 100%;
  left: calc(20.5px + .5rem);
  position: absolute;
  width: 1px;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .work-item--roadmap:before {
    left: calc(17.5px + .5rem);
  }
}

.work-item--roadmap__step {
  align-items: center;
  display: flex;
  margin-bottom: 3.5rem;
}

.work-item--roadmap__step:first-child {
  align-items: start;
}

.work-item--roadmap__step:last-child {
  align-items: end;
  margin-bottom: 0;
}

.work-item--roadmap__step__number {
  background-color: #303030;
  border-radius: 28.5px;
  margin-right: 2rem;
  padding: .5rem;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .work-item--roadmap__step__number {
    margin-right: 1rem;
  }
}

.work-item--roadmap__step__number span {
  align-items: center;
  border: 1px solid #717171;
  border-radius: 50%;
  display: flex;
  flex: 0 0 41px;
  font-size: 1.25rem;
  font-weight: 600;
  height: 41px;
  justify-content: center;
  width: 41px;
}

@media screen and (max-width: 480px) {
  .work-item--roadmap__step__number span {
    flex: 0 0 35px;
    height: 35px;
    width: 35px;
  }
}

.work-item--roadmap__content {
  display: flex;
  flex-direction: column;
}

.work-item--roadmap__content__text {
  color: #a09f9f;
  font-family: inter;
  font-weight: 500;
}

.work-item--roadmap__content__text a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.work-item--subtitle__container {
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.work-item--subtitle__container .highlight {
  color: var(--primary-color);
}

.work-item--subtitle__text {
  color: #a09f9f;
  font-family: inter;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

.layout-helpcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.helpcenter-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.helpcenter-main button {
  margin: 20px 0 5px 0;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #8a817c;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text-color);
  font-family: poppins;
  font-size: 15px;
  transition: all 500ms ease;
}

.helpcenter-main button:hover {
  background-color: #7209b7;
  border: 2px solid #7209b7;
}

.helpcenter-main p {
  color: var(--text-grey);
  font-family: inter;
  font-size: 13px;
  margin: 5px 0 0 0;
}

.helpcenter-main p i {
  color: var(--text-color);
  margin: 0 5px;
}

.helpcenter-second {
  display: flex;
  flex-direction: column;
}

.helpcenter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.helpcenter-item .left {
  margin-right: 15px;
}

.helpcenter-item .left i {
  font-size: 30px;
  color: var(--primary-color);
}

.helpcenter-item .right h6 {
  color: var(--text-color);
  font-family: poppins;
  font-size: 15px;
}

.helpcenter-item .right a {
  text-decoration: none;
  color: var(--text-grey);
  font-family: inter;
  font-size: 13px;
  cursor: pointer;
}

.helpcenter-item .right p i {
  color: var(--primary-color);
  font-size: 20px;
}

/* community */

.community {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15vh 0;
  opacity: 0;
  animation: revealAnimation 2s forwards;
}

.community-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.community-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(17 17 17 / 1);
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  overflow: hidden;
  max-width: 1024px;
  margin: 8vh auto 2vh auto;
  z-index: 10;
  position: relative;
}

.community-main-count {
  color: rgb(74 222 128 / 1);
  gap: 1rem;
  align-items: center;
  max-width: fit-content;
  display: flex;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: inter;
  font-size: 13px;
}

.community-main-count .dot {
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  position: relative;
}

.community-main-count .content-dot {
  background-color: rgb(34 197 94 / 1);
  border-radius: 9999px;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-flex;
  position: relative;
}

.community-main-count .animate-ping {
  opacity: .3;
  background-color: rgb(74 222 128 / 1);
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  position: absolute;
  animation: communityDotPing 1s cubic-bezier(0, 0, .2, 1) infinite;
}

.community-main h6 {
  color: var(--text-color);
  font-family: poppins;
  font-size: 25px;
  margin: 0 10vh;
}

.community-main p {
  color: var(--text-grey);
  font-family: inter;
  font-size: 13px;
  text-align: center;
}

.community-main p #api-guildname {
  font-weight: 600;
  color: var(--primary-color);
}

.community-main .button {
  text-decoration: none;
  padding: 0.625rem 1rem;
  margin: 1.5rem auto 0 auto;
  border-radius: 0.5rem;
  background-color: rgb(88 101 242);
  cursor: pointer;
  color: var(--text-color);
  font-family: poppins;
}

.community-main .button i {
  margin: 0 5px 0 0;
}

@keyframes communityDotPing {
  75%,
  to {
    transform: scale(3);
    opacity: 0
  }
}

.community-item-background {
  --tw-gradient-stops: #0ea5e9, #6366f1;
  filter: blur(64px);
  opacity: .2;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  border-radius: 9999px;
  width: 600px;
  height: 250px;
  z-index: -10;
  top: 100%;
  position: absolute;
}

.socials {
  color: var(--text-grey);
  font-family: inter;
  font-size: 15px;
  margin: 10px 0 -20px 0;
}

.socials i {
  color: var(--text-grey);
  margin: 0 4px;
  font-size: 18px;
  transition: all 500ms ease;
}

.socials i:hover {
  cursor: pointer;
  color: var(--text-color);
}

/* timer */

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: revealAnimation 2s forwards;
}

.timer h6 {
  margin: 5vh 0 0 0;
  color: var(--text-color);
  font-family: poppins;
  font-size: 30px;
}

.timer p {
  margin: 0 0 10vh 0;
  font-family: poppins;
  color: var(--text-color);
  font-size: 15px;
}

.clocksection {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 700px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.clock .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.clock .container .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock .container h2 {
  font-size: 6em;
  color: var(--text-color);
  font-weight: 500;
  font-family: inter;
}

.clock .container h2:nth-child(odd) {
  padding: 5px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  margin: 0 10px;
}

.clock .container p {
  margin: 5px 0 0 0;
}

/* team */

.team {
  padding: 100px 0 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.teamtitle {
  font-family: poppins;
  text-align: center;
  font-size: 35px;
  color: var(--text-color);
}

.teamnames {
  font-family: poppins;
  color: var(--text-color);
  font-size: 20px;
  margin: 0 0 30px 0;
}

.teamsubtitle {
  color: var(--text-grey);
  font-family: inter;
  font-size: 15px;
  margin: 0 0 10vh;
}

.teamcards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.team-card {
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 2px 5px rgba(255, 255, 255, 0.2);
}

.team-card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.team-card-header * {
  transition: 0.3s;
}

.team-card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.team-card-header img {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
  animation: profilPictureSpawn 3s both;
}

@keyframes profilPictureSpawn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.team-card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  color: #000;
  font-family: poppins;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.team-card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  font-family: poppins;
  white-space: nowrap;
  font-weight: 400;
  opacity: 0.7;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
}

.team-card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.team-card-subtitle {
  font-weight: 700;
  font-size: 13px;
  font-family: poppins;
  margin-bottom: 8px;
  color: #000;
}

.team-card-content {
  padding: 20px;
}

.team-card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: inter;
}

.team-card-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;
}

.team-card-social i {
  width: 20px;
  display: block;
  transition: 0.3s;
}

.team-card-social button {
  color: var(--grey-color);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
  font-size: 16px;
}

.team-card-social button:hover i {
  color: #a02faf;
  cursor: pointer;
}

.team-card-social button:last-child {
  margin-right: 0;
}

.team-card-section {
  display: block;
  animation: fadeIn 0.6s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }

  100% {
    opacity: 1;
  }
}

.team-card-section button {
  background: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.studio-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studio-intro video {
  width: 600px;
  border-radius: 10px;
  background: #000;
  box-shadow: 0 0 20px #000;
}

/* cgu | cgv */

.cgu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cgu h1,
.cgu h2 {
  color: var(--text-color);
  font-family: poppins;
}

.cgu h1 {
  font-size: 25px;
}

.cgu h2 {
  font-size: 22px;
}

.cgu p {
  color: var(--text-grey);
  font-size: 13px;
  font-family: inter;
  margin: 0 0 40px 0;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background: radial-gradient(ellipse at bottom, #7209b7 0%, #560bad 100%);
  border-radius: 10px;
  margin: 30px;
}

.quote i {
  color: var(--text-color);
  font-size: 40px;
  margin: 20px 0 20px 20px;
}

.quote p {
  color: var(--text-color);
  font-family: poppins;
  margin: 20px;
}

.cg-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(ellipse at top, #704159 0%, #440f50 100%);
  width: 60%;
  margin: 20px;
  border-radius: 10px;
}

.cg-item h1 {
  color: var(--text-color);
  font-size: 18px;
  font-family: poppins;
  margin: 20px 0 10px 0;
}

.cg-item p {
  color: var(--text-grey);
  font-size: 15px;
  font-family: inter;
  margin: 0 20px 20px 20px;
}

.cg-footer p {
  color: var(--text-grey);
  font-size: 15px;
  font-family: inter;
  font-weight: 500;
  font-style: oblique;
}

/* news */

.news {
  display: flex;
  flex-direction: column;
}

.news h1 {
  font-size: 25px;
  margin: 5vh 0 0 30px;
  font-family: poppins;
  color: var(--text-color);
}

.news p {
  font-size: 15px;
  margin: 0 0 -20px 30px;
  font-family: inter;
  color: var(--text-grey);
}

#news-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.news-card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  height: 300px;
  max-height: 900px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  transition: all 500ms ease;
}

.news-card-active {
  height: 400px;
}

.news-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.news-card img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}

.news-card .date {
  font-family: inter;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 15px 0 0;
  text-align: right;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.news-card .date:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 400px 65px 0;
  border-color: transparent #1e1e1e transparent transparent;
}

.news-card figcaption {
  width: 100%;
  background-color: #141414;
  padding: 0 25px 25px;
  position: relative;
}

.news-card figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}

.news-card figcaption button {
  padding: 7px 5px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: inter;
  cursor: pointer;
  transition: all 500ms ease;
}

.news-card figcaption button:hover {
  opacity: 1;
}

.news-card h6 {
  font-family: poppins;
  text-align: left;
  margin: 0 0 5px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2em;
}

.news-card p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

.news-card .globalDesc {
  display: none;
}

/* faq */

.faq .title {
  color: var(--text-color);
  font-family: poppins;
  font-size: 25px;
  margin: 30px 0 0 20px;
}

.faq .subtitle {
  color: var(--text-grey);
  font-family: inter;
  margin: 0 0 0 20px;
  font-size: 15px;
}

.faq-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

#faq-panel p {
  margin: 0 0 12px;
  line-height: 1.5;
}

#faq-panel h6 {
  margin: 12px 0;
}

.faq-card {
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
  border-radius: 20px;
  max-width: 310px;
  margin-top: 90px;
}

.faq-ilustrations {
  position: relative;
}

.faq-ilustrations .mobile.ilust {
  position: absolute;
  top: -110px;
  left: -30px;
  right: 0;
}

.mobile {
  display: block;
  margin: 0 auto;
}

.faq-content {
  padding: 9px 25px 3rem;
}

.faq-content h4 {
  font-size: 32px;
  text-align: center;
  font-family: poppins;
  color: var(--text-color);
}

.faq-accordion {
  padding: 8px 0;
  border-bottom: 1px solid var(--text-grey);
}

input.tgg-title {
  appearance: unset;
  all: unset;
}

.faq-accordion-title label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h6 {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-grey);
  font-family: inter;
  transition: all .4s ease;
}

.faq-accordion-title .faq-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-left: auto;
  transition: transform .4s ease;
  transform: rotate(135deg);
}

.faq-accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease;
  font-size: 11px;
  font-family: inter;
  color: var(--text-color);
}

.faq-accordion .tgg-title:checked+div>label>h6 {
  font-weight: 700;
}

.faq-accordion .tgg-title:checked+div>label>span {
  will-change: transform;
  transform: rotate(-45deg);
}

.faq-accordion .tgg-title:checked~.faq-accordion-content {
  will-change: max-height;
  max-height: 120px;
}

/* lore */

.timeline {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10vh;
}

.timeline__card {
  padding: 30px;
  border-radius: 50px;
}

.timeline__content {
  background: #333;
  border-radius: 15px;
  padding: 15px;
}

.timeline__content>* {
  margin: 0;
}

.timeline__content>*+* {
  margin-top: 10px;
}

.timeline__content-title {
  font-size: 18px;
  font-family: poppins;
  color: var(--text-color);
}

.timeline__content-text {
  font-family: inter;
  color: var(--text-grey);
  font-size: 14px;
}

.timeline__card {
  position: relative;
  z-index: 1;
}

.timeline__card+.timeline__card {
  margin-top: calc(4px * -1);
}

.timeline__card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.timeline__card:nth-child(even)::before {
  right: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.timeline__card:nth-child(odd)::before {
  left: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.timeline__card:first-child::before {
  border-top-left-radius: 0;
  border-top: 0;
}

.timeline__card:last-child:nth-child(odd)::before {
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

.timeline__card:last-child:nth-child(even)::before {
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.timeline__card::after {
  content: "";
  position: absolute;
  top: 43px;
  left: -10px;
  bottom: 0;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #a247d3;
  border: 6px solid var(--grey-color);
}

.timeline__card:nth-child(even)::after {
  left: auto;
  right: -10px;
}

.timeline__card:nth-child(even) h6 {
  text-align: right;
}

.timeline__card:last-child {
  border-bottom-left-radius: 0;
  border-bottom: 0;
}

.lore-title {
  margin: 20px 10vh;
}

.lore-title h1 {
  font-family: poppins;
  color: var(--text-color);
  font-size: 25px;
}

.lore-title p {
  font-family: inter;
  color: var(--text-grey);
  font-size: 15px;
}

/*Wiki*/

.wiki-main {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 2vh 0 0 0;
}

/* wiki sidebar */

.wiki-sidebar {
  padding: 20px;
  border-right: 1px solid #495057;
  border-top: 1px solid #495057;
  border-bottom: 1px solid #495057;
  border-radius: 0 10px 10px 0;
  width: 245px;
  height: 100%;
}

.wiki-sidebar-top {
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -20px;
  border-bottom: 1px solid #495057;
  width: 100%;
  margin: -20px 0 15px 0;
}

.wiki-sidebar-top img {
  width: 80px;
  margin: 0 0 0 -10px;
}

.wiki-sidebar-top h1 {
  color: var(--text-color);
  font-family: poppins;
}

.wiki-sidebar .category h1 {
  color: var(--text-grey);
  margin: 20px 0 10px 0;
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
}

.wiki-sidebar article button {
  margin: 5px 0 5px 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-grey);
  font-family: inter;
  background: transparent;
  border: none;
}

.wiki-sidebar article button:hover {
  cursor: pointer;
}

.wiki-sidebar .actual {
  background-color: #85a3e01a;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.wiki-sidebar .actual button {
  font-weight: 600;
  color: var(--primary-color);
}

/* wiki content */

.wiki-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.wiki-container .banner {
  object-fit: cover;
  pointer-events: none;
  height: 300px;
  border-radius: 15px;
}

.wiki-container h1 {
  display: flex;
  color: var(--text-color);
  font-family: poppins;
  font-size: 25px;
}

.wiki-container h1 i {
  margin: 0 0 0 10px;
  color: var(--text-grey);
  font-size: 20px;
  cursor: pointer;
}

.wiki-container .pagedesc {
  color: var(--text-grey);
  font-family: inter;
  font-size: 15px;
  margin: 5px 50px 0 10px;
}

.wiki-container .content {
  margin: 20px 0 5vh 20px;
}

.wiki-container .content p,
.wiki-container .content blockquote,
.wiki-container .content button {
  color: var(--text-color);
  font-size: 15px;
  font-family: inter;
  margin: 5px 0 5px 0;
}

.wiki-container .content .italic {
  font-style: italic;
}

.wiki-container .content .underline {
  text-decoration: underline;
}

.wiki-container .content .bold {
  font-weight: 800;
}

.wiki-container .content .marked {
  color: var(--primary-color);
}

.wiki-container .content .quote {
  display: flex;
  align-items: normal;
  justify-content: left;
  background: transparent;
  width: auto;
  border-left: 4px solid #2b2e39;
  border-radius: 4px;
  padding-left: 8px;
  height: 25px;
}

.wiki-container .content button {
  background: transparent;
  border: none;
  color: #3a86ff;
  font-weight: 600;
  transition: all 500ms ease;
}

.wiki-container .content button:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.wiki-container .content .info,
.wiki-container .content .warning,
.wiki-container .content .valid,
.wiki-container .content .error {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #22272e;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.wiki-container .content .info {
  border-left: 4px solid #346ddb;
}

.wiki-container .content .warning {
  border-left: 4px solid #b95e04;
}

.wiki-container .content .valid {
  border-left: 4px solid #008847;
}

.wiki-container .content .error {
  border-left: 4px solid #d33d3d;
}

.wiki-container .content .info i,
.wiki-container .content .warning i,
.wiki-container .content .valid i,
.wiki-container .content .error i {
  font-size: 25px;
  margin: 4px 10px 0 2px;
}

.wiki-container .content .info i {
  color: #346ddb;
}

.wiki-container .content .warning i {
  color: #b95e04;
}

.wiki-container .content .valid i {
  color: #008847;
}

.wiki-container .content .error i {
  color: #d33d3d;
}

.wiki-container footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiki-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wiki-footer .pagination {
  display: flex;
  flex-direction: row;
}

.wiki-footer .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.wiki-footercard-next {
  background-color: #181c1f;
  border: 2px solid #495057;
  border-radius: 5px;
  width: 500px;
  margin: 5px 0 5vh 10px;
  padding: 10px;
  transition: all 500ms ease;
}

.wiki-footercard-next p {
  color: #a2a9b9;
  font-family: inter;
  font-size: 12px;
  padding: 5px;
}

.wiki-footercard-next h1 {
  color: var(--text-grey);
  font-family: inter;
  font-size: 16px;
  padding: 0 10px 10px 5px;
}

.wiki-footercard-next:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 8px #212529;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #2c0735 0%, #0c0d13 100%);
  z-index: -9999;
}

.bg img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: brightness(0.65);
  object-fit: cover;
  z-index: -9999;
  position: fixed;
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(0);
    opacity: 0;
  }
}

@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 800px;
  -webkit-perspective: 800px;
  z-index: -1000;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
    524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
    440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
    -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
    828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
    563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
    -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}

.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}

.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}
